#contentMessageListBox {
  display: flex;
  flex-direction: row;
  padding-bottom: 6rem;
}
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  #contentMessageListBox {
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
  }
}
