#listContentListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: top 0.2s;
}

#listContentShowMore {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 80%;
  height: 4rem;
  margin: 50px auto;
  background-color: var(--main-color-beige);
}
@media (max-width: 768px) {
  #card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
