#card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
}

#ListContentEntryContainer {
  width: 20rem;
  height: 22rem;
  background-color: var(--main-color-green);
  border-radius: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 1s;
  margin-right: 1rem;
  position: relative;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}

#ListContentEntryContainer:hover {
  transform: rotateY(180deg);
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.front {
  transform: rotateY(0deg);
  padding: 1rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* position: absolute;*/
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  z-index: 1;
  padding: 1rem;
  /* position: absolute; */
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

#ListContentEntryLogoBox {
  display: flex;
  width: 17rem;
  height: 15rem;
  border-radius: 0.5rem;
  background-color: white;
}

#ListContentEntryLogo {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
}

#ListContentEntryTitle {
  padding: 1rem 0;
  color: var(--main-color-white);
  display: flex;
  margin-top: auto;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  align-self: center;
}

#ListContentEntryDescription {
  color: var(--main-color-light-gray);
  margin-bottom: 1rem;
}

.front:hover {
  display: none;
}

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  #ListContentEntryContainer {
    width: 80%;
    background-color: var(--main-color-green);
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s;
  }

  #ListContentEntryContainer:hover {
    transform: rotateY(180deg);
    cursor: pointer;
  }

  .front {
    transform: rotateY(0deg);
    z-index: 2;
  }

  .back {
    transform: rotateY(180deg);
    z-index: 1;
  }

  #ListContentEntryTitle {
    padding: 0.5rem 0;
    color: var(--main-color-white);
    font-weight: bold;
  }

  #ListContentEntryDescription {
    color: var(--main-color-white);
    margin-bottom: 0.5rem;
  }
}
