#card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 400px;
}

#ListContentEntryContainer {
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  transition: all 0.8s;
  border-radius: 2rem;
  margin-bottom: 20px;
}

#ListContentEntryContainer:hover {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  cursor: pointer;
}

#ListContentEntryContainer:hover .listBackPart {
  opacity: 100%;
  color: black;
}

#ListContentEntryContainer:hover #ListContentEntryLogo {
  display: none;
}

.front {
  width: 18rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
}

.listBackPart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: rotateY(180deg);
  -webkit-transform: scaleX(-1);
  opacity: 0%;
  justify-content: center;
  align-items: center;
}

#ListContentEntryDescription {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  color: gray;
  font-weight: bold;
}

#ListContentEntryLogoBox {
  display: flex;
  width: 17rem;
  height: 13rem;
  border-radius: 2rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  justify-content: center;
}

#ListContentEntryLogo {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  max-width: 90%;
  max-height: 90%;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
}

#ListContentEntryTitle {
  padding: 1rem 0;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 10px;
}

#listContentShowMore {
  display: flex;
}

#listContentShowMore > div {
  border: 1px solid #ddd;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 1rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  #ListContentEntryLogoBox {
    width: 16rem;
    height: 15rem;
  }

  #listContentEntryWholeContainer {
    margin-left: 8rem;
  }

  #ListContentEntryContainer {
    margin-bottom: 20px;
  }

  .front {
    width: 18rem;
    height: 15rem;
  }
}
@media (max-width: 768px) {
  #listContentEntryWholeContainer {
    margin-left: 0.3rem;
  }

  #ListContentEntryContainer {
    border-radius: 0.5rem;
    margin: 0.5rem 3rem;
    align-items: center;
    position: relative;
  }

  #ListContentEntryTitle {
    padding: 0.5rem 0;
    color: var(--main-color-white);
    font-weight: bold;
  }
}
