#listContentListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: top 0.2s;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 1rem;
}
@media (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
