#myAllDonationGraphContainer {
  width: 47%;
  margin: 1rem;
}

#myAllDonationGraph {
  background-color: var(--main-color-white);
  border-radius: 1rem;
  height: 480px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  #myAllDonationGraphContainer {
    width: 80vw;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
}
