#myCitizenInfoContainer {
  margin: 1rem;
}

#myCitizenInfoMain {
  background-color: var(--main-color-white);
  height: 17.5rem;
  border-radius: 1rem;
}

#myCitizenInfoMain span {
  padding: 3rem;
}
