#myMonthlyDonationGraphContainer {
  margin: 1rem;
}
#myMonthlyDonationGraph {
  background-color: var(--main-color-white);
  height: 500px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
