#contentPageContainer * {
  /* border: 1px solid black; */
}

#contentPageContainer {
  background-color: var(--main-color-green);
}
#contentHeaderPart {
  height: 30rem;
  background-image: url("https://i.imgur.com/LFmpZZf.jpg");
  background-position: center;
  background-size: cover;
}

#contentHeaderNav {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#contentNavLogo {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  color: var(--main-color-white);
  font-weight: 900;
  padding: 1.5rem 2rem;
}

#contentMyPageBtn {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--main-color-gray);
  font-weight: 700;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--main-color-white);
}

#contentMainTop {
  display: flex;
  flex-direction: row;
  width: 1024px;
  margin: 0 auto;
  margin-top: -6.5rem;
}

#contentMainTopLogo {
  background-image: url("https://i.imgur.com/DX2iVQD.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}

#contentMainTopRightTop button {
  font-weight: 500;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--main-color-gray);
}

#contentMainTopRightBottom span {
  margin-left: 2rem;
  font-weight: 700;
  color: var(--main-color-white);
  font-size: 2rem;
}

#contentMainTopRightBottom button {
  font-weight: 500;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--main-color-gray);
}

#contentMainBottom {
  width: 1024px;
  margin: 5rem auto;
}

#videoAndDescription {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

#descriptionBox div {
  background-color: var(--main-color-white);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.125rem;
}

.contentBoxTitle {
  color: var(--main-color-white);
  font-size: 1.5rem;
  font-weight: 700;
}

#contentMainBottom iframe {
  margin: 1rem;
}
