#listNavPart {
  display: flex;
  background-color: var(--main-color-green);
  height: 4rem;
  justify-content: space-between;
  padding: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

#listBannerPart {
  display: flex;
}

.listBannerImg {
  height: 30rem;
  width: 40rem;
}

#listCategoryPart {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1042px;
}

.listCategory {
  border-radius: 2rem;
  height: 3rem;
  width: 3rem;
  margin: 2rem;
  cursor: pointer;
}

.listCategory:hover {
  background-color: var(--main-color-beige);
}

#listContentPart {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1042px;
}

.listContent {
  width: 12rem;
  height: 17rem;
  margin: 3rem;
  cursor: pointer;
}

.listContent:hover {
  background-color: var(--main-color-beige);
}
