#listNavPart {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color-green);
}

#listNavLogo {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  color: var(--main-color-white);
  font-weight: 900;
  padding: 1.5rem 2rem;
}

#listMyPageBtn {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--main-color-gray);
  font-weight: 700;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--main-color-white);
}

#listCoverPart {
  background-color: #0581bb;
  background: linear-gradient(
    180deg,
    var(--main-color-green) 35%,
    var(--main-color-dark-green) 100%
  );
  height: 20rem;
  padding-bottom: 170px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  color: #fefefe;
}

#listMainPart {
  width: 1024px;
  margin: 0 auto;
  margin-top: -15rem;
}

#listMainTitle {
  font-size: 1.625rem;
  font-weight: 600;
  padding: 2rem 0;
  color: var(--main-color-white);
}

#listSearchBox {
  display: flex;
  flex-direction: row;
}

#listSearchCategory {
  padding-bottom: 1rem;
}

#listSearchCategory span {
  margin-right: 1rem;
  font-size: 1.125rem;
  color: var(--main-color-light-green);
}
