#loginPageContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--main-color-green);
  width: 100vw;
  height: 100vh;
}

#loginTitle {
  display: flex;
  align-items: center;
  font-size: 4rem;
  color: var(--main-color-white);
  font-weight: 900;
  padding: 2rem 2rem;
  margin: 2rem 1rem 1rem;
}

#loginTitle:hover {
  cursor: pointer;
}

#loginMainBox {
  width: 30rem;
  height: 35rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 3rem 3rem 10rem; */
  background-color: var(--main-color-white);
}

#loginMainBox h1 {
  text-align: center;
  color: var(--main-color-gray);
  font-size: 1.25rem;
  letter-spacing: -0.01em;
  line-height: 28px;
  margin-top: 2rem;
  margin-bottom: 25px;
  font-weight: 600;
}

#loginMainBox div {
  margin: 2rem;
  justify-content: center;
}

.loginBtnBox {
  width: 60%;
  height: 4rem;
  display: flex;
  background-color: var(--main-color-beige);
  border-radius: 3rem;
  align-items: center;
  border: 1px solid var(--main-color-green);
}

.loginBtnBox:hover {
  background-color: var(--main-color-light-green);
  cursor: pointer;
}

#googleIcon {
  background-image: url("https://ifh.cc/g/dDjw6q.png");
  background-size: cover;
  width: 25px;
  height: 25px;
}

#kakaoIcon {
  background-image: url("https://ifh.cc/g/QeUpuL.png");
  background-size: cover;
  width: 25px;
  height: 25px;
}

.loginLabel {
  font-size: 1.125rem;
}

#loginDescription {
  font-size: 0.9rem;
}
