#myPageContainer {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px; /* footer height */
}

#myPageNavPart {
  height: 9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color-green);
}

#myPageNavBtn {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--main-color-gray);
  font-weight: 600;
  padding: 1rem;
  margin-top: 0.75rem;
  border-radius: 2rem 0 0 2rem;
  background-color: var(--main-color-white);
  border: 1px solid var(--main-color-green);
  position: absolute;
  right: 0;
  top: 10px;
}

#myPageNavLogo {
  position: relative;
  top: -1.5rem;
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  color: var(--main-color-white);
  font-weight: 900;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

#myPagePayPageBtn {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--main-color-gray);
  font-weight: 600;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 2rem 0 0 2rem;
  background-color: var(--main-color-white);
  border: 1px solid var(--main-color-green);
}

#myPageLogoutBtn {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--main-color-gray);
  font-weight: 600;
  padding: 1rem;
  margin-top: 0.75em;
  border-radius: 2rem 0 0 2rem;
  background-color: var(--main-color-white);
  border: 1px solid var(--main-color-green);
}

#myPageTestBtn {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--main-color-gray);
  font-weight: 600;
  padding: 1rem;
  margin-top: 0.75em;
  border-radius: 2rem 0 0 2rem;
  background-color: var(--main-color-white);
  border: 1px solid var(--main-color-green);
}

#myPageCoverPart {
  background: var(--main-color-green);
  height: 13rem;
  padding-bottom: 170px;
  box-sizing: border-box;
  width: 100%;
  color: #fefefe;
  display: flex;
  justify-content: right;
  align-items: baseline;
}

#myPageMainPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -9rem;
}

#myPageUserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myPageProfilePic {
  width: 15rem;
  height: 15rem;
  border-radius: 7.5rem;
  background-image: url("https://i.imgur.com/FP3hraO.png");
  background-position: center;
  background-size: cover;
}
.fas.fa-pen {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.fas.fa-pen:hover {
  background-color: var(--main-color-pink);
  cursor: pointer;
}

#myPageLevel {
  margin: 0.75rem 0 0.25rem;
}

#myPageUsername {
  font-weight: 600;
  font-size: 2rem;
  color: var(--main-color-gray);
}

#myPageMainContentMiddle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myPageTitle {
  color: var(--main-color-white);
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1rem;
  margin-bottom: -0.5rem;
  margin-top: 2rem;
}

.myPageSubTitle {
  color: var(--main-color-light-gray);
  font-size: 1rem;
  font-weight: 300;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

#navBox {
  margin-top: 80px;
  transition: all 2s;
}

#navBox:hover {
  cursor: pointer;
}

#myPageLogout {
  padding: 0.4rem;
  border-radius: 20px;
}

#myPageLogout:hover {
  background-color: var(--main-color-pink);
}

@media (max-width: 1024px) {
  #myPageMainContentMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
}
