#payPageContainer {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color-green);
  display: flex;
  flex-direction: column;
}

#payNavPart {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color-green);
}

#payListPart {
  display: flex;
  flex-direction: column;
  margin-top: 5.5rem;
  align-items: center;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.payListEntryPart {
  width: 100%;
  background-color: var(--main-color-white);
  border-radius: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.payBoxTitle {
  margin-left: 2rem;
  font-size: 1.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
}

.payBoxContentBox {
  text-align: center;
}

.payBoxPayBtnBox {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.payBoxContentImg {
  background-image: url("https://yt3.ggpht.com/ytc/AAUvwnjflo__ANfIHk0vJsNeap6C9HhLVy5bFtmLS5QbKg=s88-c-k-c0x00ffffff-no-rj");
  background-size: cover;
  width: 65px;
  height: 55px;
  border-radius: 4px;
}

.payBoxContent {
  height: 6rem;
  border-radius: 0.5rem;
  margin: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payBoxContent > * {
  margin: 1.5rem;
}

.dragged .payBoxContent {
  opacity: 0.25;
}

.payBoxContentTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.payBoxContentTitle > * {
  margin: 1rem;
  font-size: 1.5rem;
}

.payBoxContentTitle > div {
  width: 14rem;
  text-align: start;
}

.payBoxContentDelete {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.payBoxPayBtn {
  font-size: 1.5rem;
}

.payBoxPayBtnBox > div {
  margin: 1rem;
  margin-left: auto;
}

.payBoxPayBtn:hover {
  font-size: 2rem;
  color: var(--main-color-beige);
}

#payBoxSubTitle {
  font-size: 0.9rem;
  margin-left: 1.2rem;
}

#payBoxPostMessageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payPagePostMessage {
  height: 7rem;
  width: 90%;
  display: flex;
  margin: 1.5rem;
  align-items: center;
  border-radius: 0.8rem;
}

.payBoxPostMessageImg {
  background-image: url("https://yt3.ggpht.com/ytc/AAUvwnjflo__ANfIHk0vJsNeap6C9HhLVy5bFtmLS5QbKg=s88-c-k-c0x00ffffff-no-rj");
  background-size: cover;
  width: 55px;
  height: 55px;
  border-radius: 4px;
}

.payPagePostMessage > div {
  margin: 0.8rem;
  font-size: 1.4rem;
}

.payPagePostMessage > input {
  width: 60%;
  height: 2.2rem;
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: 1rem;
}

@media screen and (max-width: 1024px) {
  #payListPart {
    width: 90%;
  }

  .payListEntryPart {
    justify-content: center;
  }

  .payBoxTitle {
    margin-left: auto;
    margin-right: auto;
  }

  #payBoxSubTitle {
    margin-left: auto;
    margin-right: auto;
  }

  .payBoxContent {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .payBoxContent > * {
    margin: 1rem;
  }

  .payBoxContentTitle > * {
    font-size: 1.2rem;
    margin: 0.5rem;
  }

  .payBoxContentTitle > div {
    width: auto;
  }

  .payBoxPayBtnBox {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  .payPagePostMessage {
    height: 100%;
    flex-direction: column;
  }

  .payPagePostMessage > input {
    margin-left: auto;
    margin-right: auto;
    margin: 1rem;
  }
}

@media screen and (max-width: 768px) {
  #payListPart {
    width: 80%;
  }

  .payBoxContent {
    width: 60%;
    height: 18.3rem;
    flex-direction: column;
  }

  .payBoxContentDelete {
    margin-bottom: 2rem;
    width: 30%;
  }

  .payBoxContentImg {
    width: 60px;
    height: 60px;
    margin-top: 2rem;
  }

  .payBoxContentTitle {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
  }

  .payBoxContentTitle > p {
    font-size: 1.3rem;
  }

  .payBoxContentTitle > div {
    text-align: center;
  }

  .payBoxPayBtnBox {
    flex-direction: column;
  }

  .payPagePostMessage {
    width: 60%;
  }
}
