#testPageContainer * {
  /* border: 1px solid black; */
}

#testPageContainer {
  background: var(--main-color-green);
  height: 110vh;
}

#testNavPart {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#testNavLogo {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  color: var(--main-color-white);
  font-weight: 900;
  padding: 1.5rem 2rem;
}

#testSkipBtn {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--main-color-gray);
  font-weight: 700;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--main-color-white);
}

#testMainPart,
#testExtraPart {
  margin: 0 auto;
  max-width: 1024px;
}

#testMainPart1 {
  background-color: var(--main-color-white);
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  position: absolute;
  top: 47%;
  width: 80%;
  transform: translate(-50%, -50%);
}

#testMainPart {
  background-color: var(--main-color-white);
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  position: absolute;
  top: 30%;
  width: 80%;
  transform: translate(-50%, -50%);
}

#testMainNumber {
  padding: 1rem;
  font-size: 1.25rem;
  border: 1px;
  color: var(--main-color-light-gray);
  font-weight: 500;
}

#testMainQuestion {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-color-gray);
  text-align: center;
  padding: 2.5rem;
}

#testOptions {
  padding: 2.5rem;
  text-align: center;
}

#optionBtn {
  background-color: var(--main-color-white);
  padding: 1.5rem;
  margin: 1rem;
  border: 1px solid var(--main-color-gray);
  border-radius: 1rem;
  width: 22%;
}

#optionBtn:hover {
  transform: scale(1.1);
}

#optionBtn:focus {
  outline: none;
}

#testMainBtnBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#testMainBtnBox button {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--main-color-white);
  padding: 0.75rem;
  background-color: var(--main-color-green);
  border-style: none;
  border-radius: 1rem;
  width: 15%;
  margin: 50px;
}

#testMainBtnBox button:hover {
  background-color: var(--main-color-dark-green);
  cursor: pointer;
}

#testExtraPart {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color-light-green);
}

#testExtraDescription {
  margin: 3rem 1rem 1rem;
  font-size: 1.125rem;
}

#testExtraSubmitBtn {
  font-size: 1.25rem;
  color: white;
  font-weight: 700;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--main-color-beige);
  width: 40%;
  margin: 0 auto;
  transition: all 2s;
}

#toastMessage {
  position: absolute;
  font-size: 1.25rem;
  text-align: center;
  width: 60%;
  top: 75%;
  left: 50%;
  font-weight: 500;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  background-color: #ddd;
}

#resultPart {
  display: flex;
  flex-direction: row;
  background-color: var(--main-color-white);
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  width: 80%;
  height: 60%;
  margin: 5rem auto;
  transition: all 2s;
}

#textResult {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-top: 15%;
}

#resultPart > div {
  padding: 1rem;
  width: 50%;
}

#textPart {
  border-right: 1px solid;
}

#textPartTitle,
#ngoPartTitle {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--main-color-beige);
}

#cardResult {
  display: flex;
  margin-top: 5%;
  justify-content: space-around;
}

#selectedCard {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.25rem;
  border-radius: 1rem;
  background-color: var(--main-color-beige);
}

#imageDiv {
  width: 200px;
  height: 200px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20%;
}

#imageDiv img {
  position: relative;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

#ngoName {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 5% 0;
}

#ngoDescription {
  font-size: 1.25rem;
}

@media (max-width: 1054px) {
  #testMainPart1,
  #testMainPart {
    width: 80%;
  }

  #textResult {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  #selectedCard {
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: var(--main-color-beige);
  }
}

@media (max-width: 768px) {
  #testPageContainer {
    background: var(--main-color-green);
    min-height: 130vh;
    height: 100%;
  }

  #testMainPart1 {
    width: 90%;
    height: 100%;
    top: 55%;
  }

  #testMainPart {
    width: 90%;
    height: 70%;
    top: 40%;
  }

  #testMainBtnBox {
    flex-direction: column;
    margin-top: 40%;
  }

  #optionBtn {
    padding: 1rem;
    margin: 1rem;
    width: 40%;
  }

  #testMainBtnBox #testMainNextBtn {
    width: auto;
    margin-top: -65%;
  }

  #testMainBtnBox button {
    width: auto;
    margin-top: auto;
  }

  #testExtraSubmitBtn {
    width: 96%;
    top: 120%;
  }

  #resultPart {
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-bottom: 1rem;
  }

  #resultPart > div {
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
  }

  #textPart {
    border: none;
  }

  #imageDiv {
    margin-top: 1%;
  }
}

@media (max-width: 390px) {
  #optionBtn {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 90%;
  }
}
