@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;500;800&family=Noto+Serif+KR:wght@200;400;700&display=swap");

:root {
  --main-color-light-green: rgb(142, 155, 154);
  --main-color-green: rgb(56, 82, 79);
  --main-color-drak-green: rgb(8, 35, 31);

  --main-color-pink: rgb(211, 190, 193);

  --main-color-white: rgb(233, 232, 228);
  --main-color-light-gray: rgb(110, 110, 110);
  --main-color-gray: rgb(50, 50, 50);
  --main-color-black: rgb(15, 18, 25);
}

* {
  margin: 0;
  padding: 0;
  font-family: "S-CoreDream";
  font-size: 14px;
}

/* 스크롤바 너무 거슬려서 지웠습니다.. 민제 */
body::-webkit-scrollbar {
  display: none;
}

.shadow {
  transition: all 0.2s;
  -webkit-box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
}

button {
  border-style: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.navLogo {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  color: var(--main-color-blue);
  font-weight: 900;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

.navMyPage {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--main-color-gray);
  font-weight: 700;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--main-color-white);
  cursor: pointer;
}

.navMyPage:hover {
  transform: translate(0.75rem, 0rem);
  background-color: var(--main-color-yellow);
}

.modalWholeContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  z-index: 40;
}

.modalContainer {
  background: var(--main-color-green);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  height: 350px;
  max-width: 100%;
  min-height: 300px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
}

.modalContentPart {
  background-color: var(--main-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 5px;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff")
    format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff")
    format("woff");
  font-weight: 900;
  font-style: normal;
}
